.footer {
    background: #ababab;
    width: 100%;
    padding: 100px 0 ;
}
.footer_content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.social_icons {
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.social_link {
    width: 50px;
    height: 50px;
}
.social_icon {
    width: 100%;
    height: 100%;
    font-size: 50px;
}

#social-ig,
#social-wp,
#social-tg {
   color: rgb(30, 48, 80);
    transition: 0.5s;
}
#social-ig:hover {
    color: rgb(224, 16, 81);
}
#social-wp:hover {
    color: rgb(42, 144, 14);
}
#social-tg:hover {
    color: rgb(21, 97, 234);
}