.services {
    padding: 100px 0;
}
.services_title {
    font-size: 25px;
    letter-spacing: 6px;
    text-shadow: 11px -14px 3px #b3b3b3, 0 0 1em #ababab;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}
.servives_skills {
    margin-top: 70px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,minmax(150px, 450px));
    justify-content: center;
}
.service_scill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 0.3s;
    padding: 45px;
}
.service_scill-img {
    max-width: 100px;
    width: 100%;
}
.service_scill-title {
    margin-top: 40px;
    transition: 0.3s;
    color: #333333;
}
.service_scill-text {
    margin-top: 40px;
    transition: 0.3s;
    color: #333333;
}
.service_scill:hover {
    background: #0a82de;
}

.service_scill:hover  .service_scill-title  {
    color: white;
}
.service_scill:hover .service_scill-text {
    color: white;
}


.portfolio {
    width: 100%;
    background: #b8b8b8;
}
.portfolio_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.portfolio_cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    width: 100%;
    justify-content: center;
    gap: 20px;
}
.portfolio_card {
    width: 100%;
    height: 100%;
}
.portfolio_card-img {
    width: 100%;
}

.feedback {
    width: 100%;
}
.feedback_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
}
.person_information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.person_information-img {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #ababab;
    margin-top: 55px;
}
.person_information-name {
    margin-top: 25px;
    font-size: 25px;
    font-weight: 500;
}
.person_information-scill {
    margin-top: 10px;
}
.person_information-text {
    margin-top: 45px;
}

.footer {
    width: 100%;
}
.footer_content {
    width: 100%;
    display: flex;
    justify-content: center;
}
.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
}
