.header {
    width: 100%;
    padding: 90px 50px;
    background: rgba(183, 238, 223, 0.47);
}
.header_nav {
    width: 80%;
}
.header_lists {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.header_logo {
    flex-basis: 40%;
}
.header_list-link {
    font-size: 22px;
    padding: 14px 20px;
    border: 1px solid transparent;
    border-radius: 28px;
    transition: 0.4s;
}

.header_list-link:hover {
    border: 1px solid rgb(33, 189, 203);
}