.header {
    width: 100%;
    padding: 20px 50px;
}
.header_nav {
    width: 100%;
}
.header_lists {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
}
.header_logo {
    flex-basis: 200px;
}
.main {
    width: 100%;
    height: 100%;
}
.main_content {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
}
.main_block {
   flex-grow: 1;
}

