.main {
    width: 100%;
    height: 100%;
    background: rgb(45, 45, 45);
}
.main_content {
    position: relative;
    padding: 110px 0 395px 0;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
}
.main_block-left {
    width: 55%;
    display: flex;
    justify-content: center;
}
.main-img {
    max-width: 450px;
    max-height: 450px;
    width: 100%;
}
.main_block-right {
    width: 45%;
    display: flex;
   flex-direction: column;
    justify-content: center;
}
.main_title {
    font-size: 40px;
    font-weight: 100;
    color: #ffffff;
    display: inline-block;
}
.main_text {
    margin-top: 40px;
    font-size: 45px;
    font-weight: 500;
    color: white;
}
.work_btn {
    padding: 12px 22px;
    margin-top: 40px;
    background: rgb(239, 67, 14);
    border-radius: 28px;
    max-width: 180px;
    width: 100%;
    mix-blend-mode: multiply;
    color: #ffffff;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
