@import "header.css";
@import "main.css";
@import "general.css";

*:before,
*:after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #333333;
}
li {
    list-style: none;
}

.container {
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
}
